@import "tailwindcss";

html, body{
  overscroll-behavior: none;
  max-width: 100vw;
  overflow-x: hidden;
  touch-action: pan-y;
}
:root {
  --background: #041642;
  --foreground: #002063;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gloaming: #2d343e;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-tegaki: var(--font-tegaki);
  --font-handjet: var(--font-handjet-local);

  --spacing-s-button: clamp(3rem, 16vw, 5rem); 
  --spacing-s-smallButton: clamp(1.25rem, 3vw, 2rem);
  --text-s-title: clamp(4rem, 20vw, 8rem);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #041642;
    --foreground: #002063;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  width: 100%;
  position:relative;
}
